/*General website styles go here*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.ampersand{
    color: black;
}
.container{
    margin: 0;
}
h1{
    color: #ad271d;
}
header{
    background-color:  #ad271d;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

/*Login Styling*/
.box-header{
    background-color: #db250d;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    padding-top: 1px;
    padding-bottom: 1px;
}
body#login{
    background-color: #f7ebd7;
}
h1#login-title{
    font-weight: 250;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    max-width: 400px;
}
h2#box{
    color: white;
}
.login-box{
    background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    text-align: center;
}
#logbox-input{
    padding-top: 8px;
}
.login-label{
    font-style: oblique;
}
.log-small{
    font-style: italic;
    font-size: 0.9em;
}
#login-small-sect{
    margin-top: 16px;
}
.login-box button{
    margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #eb6d54;
    outline: none;
    cursor: pointer;
}
.login-box button:hover{
    background-color: #ba5541;
}
.login-link{
    text-decoration: none;
}
.login-link:hover{
    color: #eb9e8f; 
}

#password-forget{
    background-color: rgb(29, 29, 138);
}

#password-forget-button{
    background-color: rgb(93, 93, 180);
}

#password-forget-button button:hover{
    background-color: rgb(44, 44, 112);
}


/*Signup Styling*/
#signup-page{
    background-color: #f7ebd7; 
}

#signup-page ul{
    list-style-image: url(starbullet.svg) ;
}

#signup-page button{
    margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #eb6d54;
    outline: none;
    cursor: pointer;
}

#signup-page button:hover{
    background-color: #ba5541;
}


/*Homepage Styling*/
.logo{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border: 3px solid black;
}
#homepage{
    font-size: 2.5em;
    color: white;
    margin: 0;
}
#homepage-body{
    background-color: #fff4eb;
}
#homepage-subtitle{
    color: white;
    font-size: 1em;
    font-style: italic;
    margin: 2px;
}
.dashboard{
    display: flex;
    padding: 12px;
}
.dashboard-head{
    background-color: #ba5541;
    color: white;
    text-align: center;
    width: 600px;
    border-radius: 10px / 5px;
}
.dashboard-body{
    background-color: white;
}