/*Universal Website Styles*/
html, body {
    background: linear-gradient(-30deg, #ece3fc, #d3f0f5);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.ampersand{
    color: black;
}
.container{
    margin: 0;
}
h1{
    color: #1d366e;
}
header{
    background-color:  #fff;
    align-items: center;
    display: flex;
}
.navbar li{
    display: inline;
    list-style-type: none;
    align-content: center;
}
.navbar li a{
    text-decoration: none;
    color: black;
}


/*Login Styling*/
header #login-logo{
    margin-left: 40px;
    height: 60px;
    width: auto;
}
.box-header{
    background-color: #6a8dd9;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    padding-top: 1px;
    padding-bottom: 1px;
}
body#login{
    background-color: #f7ebd7;
}
h1#login-title{
    font-weight: 250;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    max-width: 400px;
}
h2#box{
    color: white;
}
.login-box{
    background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    text-align: center;
}
#logbox-input{
    padding-top: 8px;
}
.login-label{
    font-style: oblique;
}
.log-small{
    font-style: italic;
    font-size: 0.9em;
}
#login-small-sect{
    margin-top: 16px;
}
.login-box button{
    margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #6994f0;
    outline: none;
    cursor: pointer;
}
.login-box button:hover{
    background-color: #4269bd;
}
.login-link{
    text-decoration: none;
}
.login-link:hover{
    color: #7777ff; 
}

#password-forget{
    background-color: rgb(29, 29, 138);
}

#password-forget-button{
    padding: 0px;
    margin: 0px;
}

#password-forget-button button{
    background-color: rgb(93, 93, 180);
}

#password-forget-button button:hover{
    background-color: rgb(44, 44, 112);
}


/*Signup Styling*/
#signup-page{
    background-color: #f7ebd7; 
}

#signup-page ul{
    list-style-image: url(starbullet.svg) ;
}

#signup-page button{
    margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #eb6d54;
    outline: none;
    cursor: pointer;
}

#signup-page button:hover{
    background-color: #ba5541;
}
