:root {
  --purple: #5041c3;
  --teal: #0ef0cc;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(-30deg, #ece3fc, #d3f0f5);
    height: 100%;
}

main {
    display: grid;
    grid-template-areas:
        'header header header header header aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside'
        'content content content content content aside aside';
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 12px;
    align-items: center;
    grid-area: header;
}

header .left {
    display: flex;
    float: left;
    align-items: center;
    height: 100%;
}

header .left svg {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}

header .left svg #leaf {
    fill: var(--teal);
}

header .left h1 {
    font-weight: 900;
    font-size: 24px;
}

header .left h1 span {
    font-weight: 300;
    font-style: italic;
}

header .right {
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
}

header #note {
    height: 24px;
    color: #999;
    cursor: pointer;
}

header #new-note {
    display: block;
    position: relative;
    top: -4px;
    left: -12px;
    background: var(--purple);
    color: #fff;
    height: 8px;
    width: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    /visibility: hidden;
}

header #profile {
    display: flex;
    height: 24px;
    margin-left: 50px;
    align-items: center;
    border-radius: 12px;
    color: #000;
    padding: 15px;
}

header #profile span {
    display: inline-block;
    line-height: 24px;
    margin-right: 5px;
    font-size: 12px;
}

header #profile i {
    font-size: 36px;
    margin-left: 10px;
}

aside {
    grid-area: aside;
    height: 100%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

aside .balance {
    display: grid;
    width: 100%;
    height: 200px;
    background: linear-gradient(-45deg, var(--purple), #0d5ade);
    color: #fff;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

aside .balance h2 {
    margin: -20px;
    font-weight: 100;
    font-size: 18px;
}

aside .balance h1 {
    display: inline;
    font-weight: 400;
    font-size: 48px;
    margin-top: -50px;
}

aside .balance span {
    position: relative;
    top: -5px;
    left: -5px;
    font-weight: 900;
    font-size: 20px;
    opacity: 0.7;
}

aside .recent {
    width: 100%;
    height: calc(100% - 220px);
    background: #fff;
    border-radius: 12px;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    overflow: scroll;
}

aside .recent h1 {
    position: sticky;
    top: -20px;
    text-align: center;
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    z-index: 5;
    font-weight: 300;
    font-size: 18px;
    border-bottom: 3px solid #000;
}

aside .recent h1 i {
    float: right;
}

aside .recent li {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 12px;
    margin-bottom: 20px;
}

aside .recent li .up-down {
    float: left;
    font-size: 36px;
    color: #000;
    opacity: 0.5;
}

aside .recent .growth {
    background: linear-gradient(-45deg, var(--teal), #0f0);
}

aside .recent .loss {
    background: linear-gradient(-45deg, #f96390, #f00);
}

aside .recent li h2 {
    display: inline-block;
    flex: 2;
    font-weight: 900;
    text-align: center;
    margin: 0 5px;
}

aside .recent li .category {
    display: inline-block;
    float: right;
    font-size: 24px;
    font-weight: 300;
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

section {
    display: grid;
    grid-gap: 20px;
    grid-area: content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: scroll;
}

section div {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 20px;
    grid-row: span 2;
}

section .pie {
    
}
